<footer class="sticky-bottom w-100 text-center p-2 bg-dark text-white" style="position: relative; bottom: 0;">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/"></a>
</footer>